
.btn, .btn:hover, .btn:active, .btn:visited {
    background-color: #ff4949 !important;
    border-color: #ff4949 !important;
    border-radius: 20px;
    color: white;
}

.App-logo{
    max-width: 35%;
    height: auto;
}