
.btn, .btn:hover, .btn:active, .btn:visited {
    background-color: #dc4b4c !important;
    border-color: #dc4b4c !important;
    border-radius: 40px;
    color: white;
}

.App-logo{
    max-width: 35%;
    height: auto;
}
